/* ********************* */
/* below 1350 px (smaller desktop) */
/* ********************* */

@media (max-width:84em){
    .hero{
        max-width: 120rem;

    }
    .heading-primary{
        font-size: 4.4rem;
    }
    .gallery {
        
        grid-template-columns: repeat(2, 1fr);
        
      }
}

/* ********************* */
/* below 1200 px (Landscape Tablet) */
/* ********************* */

@media (max-width:75em){
    html{
        font-size: 52.65%;
    }
    .grid{
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }
    .heading-secondary{
        font-size: 3.6rem;
    }
    .heading-tertiary{
        font-size: 2.4rem;
    }
    .nav-list{
        gap: 3.2rem;
    }
    .header{
        padding: 0 3.2rem;
    }
    .hero{
        gap: 4.8rem;
    }
    .testimonial-container{
        padding: 9.6rem 3.2rem;
    }
}
/* ********************* */
/* below 944 px (tablet) */
/* ********************* */
@media (max-width:59em){
    html{
        font-size: 50%;

    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0rem 8rem;
        gap: 6.4rem;
    }
    .hero-text-box{
        text-align: center;
    }
    .hero-image-box{
        text-align: center;
    }
    .hero-image{
        width: 60%;
        
    }
    .delivered-meal{
        justify-content: center;
        margin-top: 3.2rem;
    }
    .section-featured .logos img{
        height: 2.4rem;
    }
    .step-number{
        font-size: 7.4rem;
    }
    .meal-content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
  
    .section-testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(6,1fr);
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn--form{
        margin-top: 1.2rem;
    }
    /* Mobile navigation */
    .btn-mobile-nav{
        display: block;
        z-index: 100;

    }
    .nav{
        background-color: rgba(255, 255, 255, 0.945);
        position: absolute;
        top:0;
        left:0;     
        height: 100vh;
        width: 100%;
        transform:translateX(100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        /* 1) removing it visually */
        opacity: 0;

        /* 2) making inaccessible to mouse and keyboard */
        pointer-events: none;

        /* 3) make inaccessible to screen reader  */
        visibility:hidden;


    }
    .nav-open .nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-list{
        flex-direction: column;
        gap: 4.8rem;
    }
    .nav-link:link,
.nav-link:visited{
    font-size: 3rem;
}
    .nav-open .icon-mobile-nav[name="close-outline"]{
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"]{
    display: none;
  }
}
/* ************ */
/* below  700px(smaller tablets)*/
/* ************ */
@media (max-width:44em){
    .grid--footer{
      grid-template-columns: repeat(6, 1fr)
    }
    .grid--3-cols,
      .grid--4-cols{ 
        grid-template-columns: repeat(2, 1fr);
      }
      .lists{
        grid-column: 1/-1;
        justify-self: center;
      }
      .heading-secondary{
        margin-bottom: 4.8rem;
      }
      .pricing-plan{
        width: 100%;
      }
      .nav-col{
        grid-row: 1;
        grid-column: span 2;
      }
      .logo-col,.address-col{
        grid-column: span 3;
        margin-bottom: 3.2rem;
      }
}
/* ***************
below 544px (for phones)
*************** */

@media (max-width:34em){
    .grid{
        row-gap: 4.8rem;
    }
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols{ 
      grid-template-columns: 1fr;
    }
    .section-hero{
        padding: 2.4rem 0 6.4rem 0;
    }
    .hero{
        padding: 0 3.2rem;
    }
     .btn,
 .btn:link,
 .btn:visited{
    padding: 2.4rem 1.6rem;
}
    .hero-image{
        width: 80%;
    }
    .section-featured  .logos img{
        height: 1.2rem;
    }
    .step-img-box:nth-child(2){
       grid-row: 1;
    }
    .step-img-box:nth-child(6){
        grid-row: 5;
     }
     .step-img-box{
        transform: translateY(2.4rem);
     }
     .testimonials{
        grid-template-columns: 1fr;
     }
     .gallery{
        gap: 1.2rem;
        grid-template-columns: repeat(4, 1fr);
     }
     .cta{
        grid-template-columns: 1fr;
     }
     .cta-image-box{
        height: 32rem;
        grid-row: 1;

     }
     .cta-text-box{
         padding: 3.2rem;
     }
}

/* 
-Font size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/



